.columna{
	/*background: #e8e8e8;*/
	background: #e0e0e0;
	border: 1px solid #424242;
	height: 200px;
	float: right;
}
/*.row{
	background: blue;
}*/

.fondo{
	background: linear-gradient(to right, #0b7fdb , white);
}

.fondo-secun{
	background: #e0e0e0;
}

.menu-responsive{
	position: fixed;
	background: #0b7fdb;
	z-index: 1;
}

.columna-fija{
	position: fixed;
	overflow: hidden;
	background: linear-gradient(to top, #0b7fdb , white);
	height: 100%;

}

.titulo{
	font-family: 'Dancing Script', cursive;
	color:white;
	font-style: italic;
	font-size: 120px;
}


.titulo-sm{
	font-family: 'Dancing Script', cursive;
	color:white;
	font-style: italic;
	font-size: 80px;
}

.subtitulo{
	font-family: 'Dancing Script', cursive;
	color: white;
	font-style: italic;
	/*font-size: 20px;
	margin-left: 20px;
	margin-bottom: 50px;*/
	
}


.btn-inicio{
	background-color: transparent;
	border: 1px solid white;
	
	color:white;
	width: 180px;
	height: 50px;
	
	margin-bottom: 30px;
	/*margin-left: 100px;
	margin-right: 10px;*/
}
.btn-inicio:hover{
	border: 1px solid white;
}


.form_inicio_sesion button{
	background-color: transparent;
	border: 1px solid white;
	border-radius: 10px;
}

.form_inicio_sesion button:hover{
	border: 1px solid white;
}

.form_inicio_sesion input{
	border-radius: 5px;
	box-shadow: 0px 0px 9px rgba(0,0,0,.35);
}

.form_inicio_sesion select{
	border-radius: 5px;
	box-shadow: 0px 0px 9px rgba(0,0,0,.35);
}

.links_inicio button{
	color:white;
	margin-top: 5px;
	text-decoration: underline;
	border: 0px solid white;
}

.links_inicio_inv button{
	color: #006a68;
	text-decoration: underline;
}

.links_inicio_inv button:hover{
	color:white;
	text-decoration: underline;
}

.btn-menu{
	background: transparent;
	color:white;
}

.btn-menu:hover{
	text-decoration: underline;
}

.circulo{
	border: 1px dotted #757575;
	border-radius: 50%;
	height: 180px;
	width: 180px;
}

/*Titulo de home, columna izquierda*/
.titulo-home{
	padding-top: 35px;
	font-family: 'Dancing Script', cursive;
	color: #757575;
	font-style: italic;
	font-size: 90px;
}

.patrim{
	margin-top: 10px;
	border: 1px dotted white;
	border-radius: 10px;
}