<div class="container mt-4">
	<div class="row">
		<div class="col pb-3 align-self-center">
			<br>
			<h1 class="titulo pt-lg-3 text-center"><strong>CGP</strong></h1>
			<h5 class="subtitulo mb-lg-4 text-center"><strong>CONTROL DE GASTOS PERSONALES</strong></h5>
			<div class="row justify-content-center">
				<div class="col-auto">
					<div class="btn-group btn-group-vertical">
						<button type="button" class="btn btn-primary btn-inicio" style="border-radius: 10px" ><%= link_to "Registrarme", new_user_registration_path, {:style=>'color:#FFFFFF;'} %></button>
						<button type="button" class="btn btn-primary btn-inicio" style="border-radius: 10px" ><%= link_to "Iniciar Sesión", new_user_session_path, {:style=>'color:#FFFFFF;'} %></button>
						<!-- <button type="button" class="btn btn-primary btn-inicio" style="border-radius: 10px" ><%= link_to "Recuperar contraseña", new_user_password_path, {:style=>'color:#FFFFFF;'} %></button> -->
					</div>
				</div>
			</div>
		</div>

		<%= render "forms/piepag" %>

	</div>
</div>