<div class="container-fluid">
	<div class="row" >

		<%= render 'forms/latizq' %>
		
		<div class="col-12 col-md-9 offset-md-3 mt-5">
    		<p class="notice"><%= notice %></p>
     	 	<p class="alert"><%= alert %></p>
			<p class="h2 text-center text-md-left mt-5 mt-md-0"><strong>Bienvenido a CGP!</strong></p>
			<br><br>
			<!--Solo aparece con la pantalla reducida-->
			<!-- <p class="h5 d-md-none text-center"><strong>Patrimonio neto: </strong></p>
			<br>
			<p class="h5 d-md-none form-control-static text-center">$0.0</p>
			***********************-->
			<p class="h2 d-none d-md-block"><strong>Podrás tener acceso a todas tus finanzas en un solo lugar.</strong></p>
			<br><br>
			<p class="h2 d-none d-md-block"><strong>Entérate de todo lo que pasa en tu bolsillo y mucho más!</strong></p>

		</div>
	</div>
</div>