<!--Imagen del lado derecho y la frase, solo se muestra con la pantalla mayor a 768px-->
<div class="col d-none d-md-block">
	<figure>
		<%= image_tag 'imagen.jpg', class:'img-fluid', alt:"cargando..",width:"500", height:"500" %>
		<figcaption class="figure-caption">
			<blockquote class="blockquote">
				<p class="mb-0"><small><strong><em>"El dinero no toma las decisiones, tu lo haces"</em></strong></small></p>
				<footer class="blockquote-footer"><p><strong>Dave Ramsey</strong></p></footer>
			</blockquote>
		</figcaption>
	</figure>
</div>